*.sh             text diff=bash
*.gitattributes  text
*.gitignore      text
*.editorconfig   text
*.txt            text
*.go             text diff=golang
*.mod            text diff=text
*.sum            text diff=text
*.yml            text diff=yaml
*.md             text diff=markdown
*.cil            text
LICENSE          text
