*.gitattributes  text
*.gitignore      text
*.editorconfig   text

*.txt            text
*.md             text diff=markdown
LICENSE          text

*.sh             text diff=bash

*.go             text diff=golang
*.mod            text
*.sum            text

*.yml            text diff=yaml
*.cil            text
*.service        text
